/* CSS crunched with Crunch - http://crunchapp.net/ */
html{height:100%;}html body{height:100%;margin:0;padding:0;}html body #map-canvas{height:100%;}
html body #map-overlay{position:absolute;width:25%;height:90%;right:5%;top:5%;background-color:lime;}
