/* CSS crunched with Crunch - http://crunchapp.net/ */
html{height:100%;}html .labels{color:red;font-family:"Lucida Grande","Arial",sans-serif;line-height:48px;height:50px;font-weight:bold;text-align:center;white-space:nowrap;z-index:9999;}html .labels h2{line-height:50px;z-index:9999;margin:0px;}
html .infoBox{float:left;width:300px;list-style:none;margin-bottom:5px;}html .infoBox .text{max-height:200px;overflow-y:scroll;word-wrap:break-word;}
html .infoBox .image{float:right;width:150px;height:150px;}
html body{height:100%;margin:0;padding:0;}
html body #map-canvas{height:100%;}
html body #map-overlay{position:absolute;width:350px;height:500px;right:5%;top:5%;background-color:rgba(255, 255, 255, 0.8);border-radius:20px;border:10px solid #87ceeb;}html body #map-overlay #twitterButton{float:left;width:60px;height:20px;}
html body #map-overlay #facebookShare{float:left;margin:0px;}
html body #map-overlay #searchMe{float:left;}
html body #map-overlay #searchField{float:left;}
html body #map-overlay #searchClear{display:none;}
html body #map-overlay #surrounder{float:left;width:inherit;padding-left:0px;height:450px;overflow-y:scroll;}html body #map-overlay #surrounder #content{width:330px;margin:0px;padding-left:0px;float:left;}html body #map-overlay #surrounder #content li{float:left;clear:left;width:100%;list-style:none;margin-bottom:5px;border-bottom:1px solid #7d7d7d;}html body #map-overlay #surrounder #content li .text{max-height:200px;overflow-y:scroll;word-wrap:break-word;}
html body #map-overlay #surrounder #content li .image{float:right;width:150px;height:150px;}
