//tooltip styling is dictated by the javascript as part of the object constructor at line 558.
//alternatively ctrl+f for "map marker styling"
//a hands on example can be found here : http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/examples/example.html/
@yellow: #ffda00;
@blue: #22b9c8;
@black : #000000;
@white : #FFFFFF;
@offwhite : #CCCCCC;
@offblue : #38a6b0;
@red : #ec715f;
@green : #bdcf23;
@gray : #888888;
@offblacktoyellow : #1C1C1B;
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
 
html { 
    *:focus {
    outline: 0;
}
.default {
    color: grey;
}

    #tagDiv{
            display:none;
        }
        #searchDiv{
         display:none;
        }
#JS-MBtopMenu{
    display:none;
    }
#JS-facebookInput{display:none; width:0px; height:0px;}
#JS-instaInput{display:none; width:0px; height:0px;}
#JS-MoreInfo{display:none; width:0px; height:0px;}
#modalDialogue{
    display:none;
position: absolute;
z-index: 9999;
width: 100%;
background-color: @yellow;
border-bottom:1px solid @blue;
box-shadow: 0px 0px 5px @gray;
#modalInside{
//        height:225px;
        display:block;
        margin:0 auto;
        max-width:420px;
       // font-family:"futura-pt-1","futura-pt-2", sans-serif;
        padding:0px 8px 20px 8px;
    .relationImage{
        width:40px;
        height:40px;
        position:absolute;
        top:20px;
        margin-right:20px;
        }
    .textContainer{
        padding-left:50px;
    .heading{
        float:left;
            font-weight:bold;
            //font-weight:regular;
            font-size:17px;
            margin-top:20px;
        }
        .subHeading{
            font-size:15px;
            clear:both;
            float:left;
            margin:0px;
        }
        .subHeadingP{
            font-size:15px;
            clear:both;
            float:left;
            margin:0px;
        margin-top:16px;
        }

    .facebookInput{
                padding:6px;
                box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
                        max-width:420px;
                       margin-top:10px;
                       margin-bottom:10px;
                       resize:none;
                   //     font-family:"futura-pt-1","futura-pt-2", sans-serif;
                        font-size:14px;
                        line-height:16px;
                        color:@black;
                        float:left;
                        border:0px;
                       width:100%;
                        height:4.5em;                        
            }
    }
        #modalDenyButton{
            clear:left;
            background-color:@green;
            border:none;
            margin:0px;
            padding:10px;
         //   font-family: "futura-pt-1","futura-pt-2", sans-serif;
            font-weight:bold;
            font-size:15px;
            color: @white;
            float:right;
            cursor:pointer;
            margin-right:0px;
            margin-bottom:20px;
            margin-top:8px;
        }
        #modalConfirm{
            clear:left;
            background-color:@green;
            border:none;
            padding:10px;
            margin-bottom:20px;
            
        //    font-family: "futura-pt-1","futura-pt-2", sans-serif;
            font-weight:bold;
            font-size:15px;
            color: @white;
            float:right;
            cursor:pointer;

        }
        #modalDeny{
         //   font-family: "futura-pt-1","futura-pt-2", sans-serif;
            font-weight:bold;
            font-size:15px;
            float:right;
            border: none;
            background: none;
            margin-top: 10px;
            margin-right:10px;
            margin-bottom:20px;
            }
            #modalDeny:hover{
                cursor:pointer;
                text-decoration:underline;
                }
        
    
}
}

.size-hidden{
    display:none !important;
    }
     .size-xs{
         padding:0px 20px 0px 0px;
        background-image:url("../images/lemons/xs-short.png");
         height: 46px; //3*font size + 2*8 for padding
            background-repeat: no-repeat;
            background-position: top right;
         .begin{
             background-image:url("../images/lemons/xs-long.png");
             height:100%;
             width:100%;
             background-position: top left;
             h2{
                 white-space:nowrap;
                 font-size:10px;
                 margin:0px;
                 text-align:left;
                 vertical-align:middle;
                 height:100%;
                 padding:  12px 0 14px 20px;
                 color: @offblacktoyellow;
            }
            .left{
                background:url("../images/lemons/xs-left.png");
                background-position:30px 28px; 
                background-repeat:no-repeat;
                }
            .right{
                background:url("../images/lemons/xs-right.png");
                background-position:right 28px;
                background-repeat:no-repeat;
                }
         }
    }
     .size-s{
         padding:0px 20px 0px 0px;
        background-image:url("../images/lemons/xs-short.png");
         height: 46px; //3*font size + 2*8 for padding
            background-repeat: no-repeat;
            background-position: top right;
         .begin{
             background-image:url("../images/lemons/xs-long.png");
             height:100%;
             width:100%;
             background-position: top left;
             h2{
                 white-space:nowrap;
                 font-size:10px;
                 margin:0px;
                 vertical-align:middle;
                 height:100%;
                 padding:  12px 0 14px 20px;
                 color: @offblacktoyellow;
            }
            .left{
                background:url("../images/lemons/xs-left.png");
                background-position:30px 28px; 
                background-repeat:no-repeat;
                }
            .right{
                background:url("../images/lemons/xs-right.png");
                background-position:right 28px;
                background-repeat:no-repeat;
                }
         }
    }

     .size-m{
         padding:0px 28px 0px 0px;
        background-image:url("../images/lemons/m-short.png");
         height: 72px; //3*font size + 2*8 for padding
            background-repeat: no-repeat;
            background-position: top right;
         .begin{
             background-image:url("../images/lemons/m-long.png");
             height:100%;
             width:100%;
             background-position: top left;
             h2{
                 white-space:nowrap;
                 font-size:20px;
                 margin:0px;
                 vertical-align:middle;
                 height:100%;
                 padding:  12px 0 14px 28px;
                 color: @offblacktoyellow;
            }
            .left{
                background:url("../images/lemons/m-left.png");
                background-position:30px 28px; 
                background-repeat:no-repeat;
                }
            .right{
                background:url("../images/lemons/m-right.png");
                background-position:right 28px;
                background-repeat:no-repeat;
                }
         }
    }
     .size-m{
         padding:0px 28px 0px 0px;
        background-image:url("../images/lemons/m-short.png");
         height: 72px; //3*font size + 2*8 for padding
            background-repeat: no-repeat;
            background-position: top right;
         .begin{
             background-image:url("../images/lemons/m-long.png");
             height:100%;
             width:100%;
             background-position: top left;
             h2{
                 white-space:nowrap;
                 font-size:20px;
                 margin:0px;
                 vertical-align:middle;
                 height:100%;
                 padding:  14px 0 12px 28px;
                 color: @offblacktoyellow;
            }
            .left{
                background:url("../images/lemons/m-left.png");
                background-position:30px 48px; 
                background-repeat:no-repeat;
                }
            .right{
                background:url("../images/lemons/m-right.png");
                background-position:right 48px;
                background-repeat:no-repeat;
                }
         }
    }
     .size-xl{
         padding:0px 38px 0px 0px;
        background-image:url("../images/lemons/xl-short.png");
         height: 106px; //3*font size + 2*8 for padding
            background-repeat: no-repeat;
            background-position: top right;
         .begin{
             background-image:url("../images/lemons/xl-long.png");
             height:100%;
             width:100%;
             background-position: top left;
             h2{
                 white-space:nowrap;
                 font-size:30px;
                 margin:0px;
                 vertical-align:middle;
                 height:100%;
                 padding:  18px 0 8px 38px;
                 color: @offblacktoyellow;
            }
            .left{
                background:url("../images/lemons/m-left.png");
                background-position:30px 68px; 
                background-repeat:no-repeat;
                }
            .right{
                background:url("../images/lemons/m-right.png");
                background-position:right 46px;
                background-repeat:no-repeat;
                }
         }
    }

     
     .labels {
     padding-right:35px;
    font-weight: bold;
     text-align: center;
     white-space: nowrap;
     z-index:9999;
     h2{
         white-space:nowrap;
            font-family: "futura-pt-1","futura-pt-2",sans-serif;
         z-index:9999;
         margin:0px;
         }
   }
   .labelRoot{
       background-color:@yellow !important; 
       }
            .infoBox{               
                float:left;
                            .socialLinkage{
                                float:left;
                                text-decoration:none;
                                color: @black;
                                width:100%;
                            }
                                .topDiv{
                                    float:left;
                                    font-family: "futura-pt-1","futura-pt-2", sans-serif;
                                    width:100%;
                                 padding-bottom:10px;
                                 border-bottom: 1px solid @black;
                                    margin-bottom:10px;
                                    .twitter-follow-button{
                                        float: right;
                                        height: 20px;
                                        margin-top: 20px;
                                        }
                                    .names{
                                        float:left;
                                        .userNameTag{
                                            clear:left;
                                            font-size:12px;
                                            font-weight:bold;
                                            margin:0px;
                                            display:block;
                                            }
                                        
                                        .nameContainer{
                                            margin-bottom:10px;
                                            padding-bottom:5px;
                                            float:left;
                                            border-bottom:3px solid @black;
                                        p{
                                            line-height:12px;
                                            font-weight:bold;
                                            font-size:12px;
                                            margin:0px;
                                            }
                                        }
                                    }
                                    img{
                                        float:left;
                                        border:5px solid @blue;
                                        margin-right:8px;
                                        width:48px;
                                        height:48px;
                                        }
                                    }
                                .bottomDiv{
                                    font-family: "futura-pt-1","futura-pt-2", sans-serif;
                                    font-size:14px;
                                    line-height:14px;
                                    float:left;
                                    clear:left;
                                    img{
                                        float:left;
                                        width:140px;
                                        margin-right: 5px;
                                        margin-bottom:5px;
                                        border:5px solid @black;
                                        }
                                    .textWithImg{
                                            font-family: "futura-pt-1","futura-pt-2", sans-serif;
                                    font-size:14px;
                                    line-height:14px;
                                            text-overflow: ellipsis;
                                            width: 130px;
                                            float: left;
                                            overflow: hidden;
                                        }
                                    .text{
                                        font-family: "futura-pt-1","futura-pt-2", sans-serif;
                                    font-size:14px;
                                    line-height:14px;
                                        clear:both;
                                        float:left;
                                        width:280px;}
                                    
                                    }
                
        }
    height: 100%;
      body { 
          font-family: "futura-pt-1","futura-pt-2", sans-serif;
          height: 100%;
          overflow:hidden;
          margin: 0; 
          padding: 0; 
          background:#54bec6;
          .mobile{//mobile incarnation here
            background-color: @red;
            float:left;
            .btn-o{}
            .count-o{
                display:none;
                }

            .btn-o > a {
                text-decoration:none;
                #l{display:none;float:left;}
                            
                            .intBorder{
                                background-image:url("../images/twittr.png");
                            background-repeat:no-repeat;
                            //
                            background-position:center top;
                            height:40px;
                                width:98px;
                                background-color: @red;
                                margin-top:0px;
                                border-right:1px solid @offwhite;
                                 img{
                                    display: block;
                                    margin-left: auto;
                                    margin-right: auto;
                                    margin-bottom:5px;
                                    border: none;
                                    width: 25px;
                                    height: 25px;
                                    background-image:url("../images/twittr.png");
                                    image-decoration:none;
                                    }
                         .contText{
                             
                             top: 30px;
                            position: relative;

                      //  font-family: "futura-pt-1","futura-pt-2" , sans-serif;
                         font-size:10px;
                         color:@white;
                             clear:left;
                             float:left;
                             margin:0 auto;
                             width:100%;
                             text-align:center;
                             text-decoration:none;
                             a{
                                 text-decoration:none;
                                 }
                             }

                                }
                }
                
              }
            .widget{//twitter widget here!
            background-color: @black;
            float:left;
            .btn-o{}
            .count-o{
                display:none;
                }
            .btn-o > a {
                text-decoration:none;
                #l{display:none;float:left;}
                            .intBorder{
                            background-image:url("../images/twittr.png");
                            background-repeat:no-repeat;
                          background-position:center top;


                                height:40px;
                                width:120px;
                                background-color: @black;
                                margin-top:0px;
                                border-right:1px solid #a5a5a5;
                                 img{
                                    display: block;
                                    margin-left: auto;
                                    margin-right: auto;
                                    margin-bottom:5px;
                                    border: none;
                                    width: 25px;
                                    height: 25px;
                                    
                                    }
                                             
                                            .contText{
                                            top: 30px;
                                            position: relative;
                      //                           font-family: "futura-pt-1","futura-pt-2" , sans-serif;
                                             font-size:10px;
                                             color:@white;
                                                 clear:left;
                                                 float:left;
                                                 margin:0 auto;
                                                 width:100%;
                                                 text-align:center;
                                                 text-decoration:none;
                            }
                        }
                }
                
                }
#spinney{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9001;
    background-color: @white;
    background-color: rgba(255,255,255,0.9);
    #spinContainer{
        position:absolute;
        top:50%;
        left:50%;
        margin: 0 auto;
        margin:-75px 0 0 -50px;
        
        width:100px;
        height:150px;
//        margin-top:20%;
        #spinImage{
            width:100px;
            height:100px;
            }
        #spinText{
            text-transform:uppercase;
            width:100%;
            text-align:center;
            font-size:22px;
            font-weight:bold;
            }
        }
}
              #map-canvas { 
                  position:absolute;
                  left:0px;
                  right:0px;
                  top:0px;
                  bottom:30px;
                  background-color:#54bec6 !important;
                  #sidebarChunk{
                      width: 35px;
                        height: 1000px;
                        background-color: @offblue;
                        //z-index: 89;
                        position: absolute;
                        left: 0px;
                        a{
                            width: 35px;
                            height: 35px;
                            display: block;
                            margin-top: 20px;
                            background-image:url("../images/homeOn.png");
                            background-repeat:no-repeat;
                            background-position:center;
                            }
                            a:hover{
                                background-image:url("../images/homeOff.png");
                                }
                    }
              }
              #overlayImage{
                  cursor:pointer;
                  position:absolute;
                  left:60px;
                  top:20px;
                  }
            #overlayAsosImage{
                position:absolute;
                bottom:80px;
                left:60px;
                }
              #blackOverlay{
                position:absolute;
                  bottom:0px;
                  width:100%;
                  height:60px;
                  background-color: @black;
                 overflow:hidden;
                div{
                    float:left;
                    }
                 #labelText{
                     text-transform:uppercase;
                      //font-family:"futura-pt-1","futura-pt-2", sans-serif;
                      font-size:24px;
                      color:@white;
                      margin-top:16px;
                      margin-left: 20px;
                      float:left;
                     #JS-bbMoreInfo{
                         cursor:pointer;
                         margin:8px 0 0 5px;
                         float:left;
                         font-size:15px;
                         text-decoration:underline;
                         color:@white;
                         text-transform:none;
                     }
                      }
                     #socialMedia{
                         background-color:@black;
                         float:right;
                         position:absolute;
                         right:0px;
                    //     font-family: "futura-pt-1","futura-pt-2" , sans-serif;
                         font-size:10px;
                         img{
                              display: block;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom:5px;
                            }
                        #insta:hover,#faceb:hover{
                            cursor:pointer;
                            }
                         .contText{
                             clear:left;
                             float:left;
                             margin:0 auto;
                             width:100%;
                             text-align:center;
                            text-decoration:none;
                            color: @white;
                        }
                         #twittr,#insta,#faceb{
                            margin-top:10px; 
                             margin-bottom:10px; 
                             height:40px;
                             width:124px;
                             float:left; 
                             color:@white;
                            .intBorder{
                          //  background-image:url("../images/twittr.png");
                        //    background-repeat:no-repeat;
                          //  background-position:center top;

                                height:40px;
                                width:123px;
                                background-color: @black;
                                margin-top:0px;
                                border-right:1px solid #a5a5a5;
                                cursor:pointer;
                                img{
                                    border: none;
                                    background-image:url("../images/twittr.png");
                                    }
                                }
                         }
                         #twittr,#insta{
                             border-right:1px solid #5a5a5a;
                             }
                        #twittr{
                            width:121px;
                            background-image:url("../images/twitterBacking.png");
                            #twitterButton{
                                float:left;
                                clear:left;
                                width:121px;
                                height:50px;
                                overflow:hidden;
                                border-style:none;
                            }
                        }    
                    }

                  }
              #map-overlay{                  
                position: absolute;
                width: 310px;
              //  height:500px;
                right: 20px;
                top: 20px;
                #searchError{
                    display:none;
                text-align:center;
                p{//font-size:12px;
                line-height:16px;}
                font-family:"futura-pt-1","futura-pt-2", sans-serif;
                }
                    #search{
                        height:40px;
                        width:inherit;
                        float:left;
                        margin-bottom:10px;
                        background-color:@red;
                        box-shadow: 0px 0px 5px @gray;
                    #searchMe{
                        cursor:pointer;
                        float:left;
                        margin-bottom:9px;
                        margin-top:9px;
                        margin-left:10px;
                        width:23px;
                        height:23px;
                        background-image:url("../images/mag.png");
                        background-repeat:no-repeat;
                        }
                    #searchField{
                        -webkit-appearance: none;
                        border-radius: 0;
              //          font-family:"futura-pt-1","futura-pt-2", sans-serif;
                        font-size:14px;
                        color:white;
                        float:left;
                        border:0px;
                        width:220px;
                        height:23px;
                        margin-bottom:5px;
                        margin-top:7px;
                        border-bottom:1px solid white;
                        margin-left:10px;
                        background:@red;
                        background-color:@red;
                        }
                    #searchClear, #searchGO{
                        cursor:pointer;
                        background-image:url("../images/close.png");
                        background-repeat:no-repeat;
                        width:20px;
                        height:20px;
                        float:right;
                        margin:10px;
                        margin-left:0px;
                        display:none;
                        }
                        #searchGO{
//                            display:block;
                            background-image:url("../images/searchgo.png");
                        }

                    }
                #SurroundContainer{
            /* Let's get this party started */
            ::-webkit-scrollbar {
                width: 12px;
            }
            /* Track */
            ::-webkit-scrollbar-track {
//                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
           //     -webkit-border-radius: 10px;
            //    border-radius: 10px;
                background-color:@yellow;
            }
             
            /* Handle */
            ::-webkit-scrollbar-thumb {
            //    -webkit-border-radius: 10px;
             //   border-radius: 10px;
                background: rgba(220,220,220,0.8); 
                //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
                
            }
            ::-webkit-scrollbar-thumb:window-inactive {
             //   background: rgba(255,0,0,0.4); 
            //    background:rgb(200,200,200);
            }
                    float:left;
                    width:310px;
                        height:420px;
                        background-color:@yellow;
                        padding:10px;
                        padding-right:0px;
                 box-shadow: 0px 0px 5px @gray;
                #header{
              //      font-family:"futura-pt-1","futura-pt-2", sans-serif;
                    font-weight:bold;
                    margin-right: 10px;
                    //font-weight:regular;
                    font-size:17px;
                    padding-bottom:5px;
                    border-bottom:1px solid @black;
                    }
                #surrounder{       
                            width:300px;
                        height:370px;
                        clear:left;
                        float:left;
                        overflow-y:scroll;
                        overflow-x:hidden;
                #content{
                    padding-top:10px;
                    margin:0px;
                     width:290px;
                    padding-left:0px;
                    float:left;
                        li{
                            width: 100%;
                             border-bottom:solid 1px @black;
                            float:left;
                            padding-bottom:5px;
                            margin-bottom:5px;
                            //padding-top:10px;
                            
                            .socialLinkage{
                                width:100%;
                                float:left;
                                text-decoration:none;
                                color:@black;
                                
                            }
                                .topDiv{
                                    float:left;
              //                      font-family:"futura-pt-1","futura-pt-2", sans-serif;
                                    margin-bottom:10px;
                                    //
                                    .names{
                                        float:left;
                                        .userNameTag{
                                            clear:left;
                                            font-size:12px;
                                            font-weight:bold;
                                            margin:0px;
                                            display:block;
                                            }
                                        
                                        .nameContainer{
                                            margin-bottom:10px;
                                            padding-bottom:5px;
                                            float:left;
                                            border-bottom:3px solid @black;
                                        p{
                                            line-height:12px;
                                            font-weight:bold;
                                            font-size:12px;
                                            margin:0px;
                                            }
                                        }
                                    }
                                    img{
                                        float:left;
                                        border:5px solid @blue;
                                        margin-right:8px;
                                        width:48px;
                                        height:48px;
                                        }
                                    }
                                .bottomDiv{
              //                      font-family: "futura-pt-1","futura-pt-2", sans-serif;
                                    font-size:14px;
                                    line-height:14px;
                                    float:left;
                                    clear:left;
                                    img{
                                        float:left;
                                        width:130px;
                                        border:5px solid @black;
                                        }
                                    .textWithImg{
                               //         font-family: "futura-pt-1","futura-pt-2", sans-serif;
                                    font-size:14px;
                                    line-height:14px;
                                            margin-left: 10px;
                                            text-overflow: ellipsis;
                                            width: 125px;
                                            float: left;
                                            overflow: hidden;
                                        }
                                    .text{
                           //             font-family: "futura-pt-1","futura-pt-2", sans-serif;
                                    font-size:14px;
                                    line-height:14px;
                                        clear:both;
                                        float:left;}
                                    
                                    }
                                }
                        }
                        
                    }
                }
            }
      }
}
@media screen and (max-width: 480px) {
    html{
        overflow:hidden;
        .infoBox{
            width:100%;
            .socialLinkage{
                width:100%;
                    .bottomDiv{ 
                    }
                }
            }
    body{
        
          height: 100%;
          overflow:hidden;
//        display:none;
  overflow:hidden;
  
  min-width:200px;
/*  #spinney{
      height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9001;
    background-color: pink;
}*/
           #map-canvas { 
               
                      #sidebarChunk{
                      display:none;
                      }
               }
        #tagDiv{
//            width:100%;
            display:block;
            position: absolute;
            top:120px;
            #tagI{
                  cursor:pointer;
                }
                #socialProxy{
                    display:none;
                  width:100%;
                  float:left;
                  background-color: @red;
                  img{
                      cursor:pointer;
                      float:left;
                      padding-right:15px;
                      }
                  #labelText{
                      text-transform:uppercase;
                      margin:0px auto;
                      margin-top:10px;
                      width:250px;
             //         font-family:"futura-pt-1","futura-pt-2", sans-serif;
                      font-size:17px;
                      color:@white;
                      
                      p{
                          margin:0px;
                          text-align:center;
                          }
                      }
                     #socialMedia{
                         background-color:@red;
                         width:320px;
                         margin:0 auto;
                        clear:both;
             //            font-family: "futura-pt-1","futura-pt-2" , sans-serif;
                         font-size:10px;
                         #insta{
                             border-left:1px solid @white;
                             width:119px;
                             }
                            #faceb{
                                width:100px;
                                }
                         img{
                             float:none;
                             display: block;
                            padding:0px;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom:5px;
                            position:relative;
                            }
                        #insta:hover,#faceb:hover{
                            cursor:pointer;
                            }
                         .contText{
               
                            clear:left;
                             float:left;
                             margin:0 auto;
                             width:100%;
                             text-align:center;
                            text-decoration:none;
                            color: @white;
                        }
                         #twittr,#insta,#faceb{
                            margin-top:10px; 
                             margin-bottom:10px; 
                             height:40px;
                             float:left; 
                             color:@white;
                            .intBorder{
                          //  background-image:url("../images/twittr.png");
                        //    background-repeat:no-repeat;
                        //background-position:;

                            height:40px;
                                background-color: @red;
                                margin-top:0px;
                                border-right:1px solid @white;
                                cursor:pointer;
                                img{
                                    border: none;
                                    background-image:url("../images/twittr.png");
                                    }
                                }
                         }
                         #twittr,#insta{
                             border-right:1px solid @offwhite;
                             }
                        #twittr{
                            width:98px;
                            #twitterButton{
                                float:left;
                                clear:left;
                                width:98px;
                                height:50px;
                                overflow:hidden;
                                border-style:none;
                            }
                        }    
                    }
            }
        }
        #searchDiv{
            display:block;
            position: absolute;
            top:70px;
        height:40px;
        #searchI{
                  cursor:pointer;
            }
        #searchProxy{
            width:100%;
//                        width:inherit;
                        overflow:hidden;
                        float:left;
                        margin-bottom:10px;
                        background-color:@red;
                        box-shadow: 0px 0px 5px @gray;
                    #searchMe{
                        cursor:pointer;
                        float:left;
                        margin-bottom:9px;
                        margin-top:9px;
                        margin-left:10px;
                        width:23px;
                        height:23px;
                        background-image:url("../images/mag.png");
                        background-repeat:no-repeat;
                        }
                    #searchField{
                        -webkit-appearance: none;
                        border-radius: 0;
             //           font-family:"futur\a-pt-1","futura-pt-2", sans-serif;
                        font-size:14px;
                        color:white;
                        float:left;
                        border:0px;
                        height:23px;
                        margin-bottom:5px;
                        margin-top:7px;
                        border-bottom:1px solid white;
                        margin-left:10px;
                        background:@red;
                        background-color:@red;
                        }
                    #searchClear, #searchGO{
                        display:none;
                        cursor:pointer;
                        background-image:url("../images/close.png");
                        background-repeat:no-repeat;
                        width:20px;
                        height:20px;
                        float:left;
                        margin:10px;
//                        margin-left:0px;
                        }
                        #searchGO{
                            display:block;
                            background-image:url("../images/searchgo.png");
                            }
        }
        }
        #overlayImage{display:none;}
        #overlayAsosImage{display:none;}
        #JS-MBtopMenu{
           z-index: 9000;
            width: 100%;
            float: left;
            display: block;
            position: absolute;
            //height: 60px;
            //background-image:url("../images/backgroundImgMenu.png");
            background-position:right;
            background-repeat:no-repeat;
            .prodLink{
                z-index:9000;
                text-decoration:none;
                width:100%;
                height: 42px;
                border-top:1px solid @gray;
                border-bottom:1px solid @white;
                background-color:black;
                display:block;
                    color:@white;
                    display:block;
                    div{
                        z-index:9000;
                        margin: 10px auto;
                        width:100px;
                        text-align:center;
             //       font-family:"futura-pt-1","futura-pt-2", sans-serif;
                font-size:14px;
                font-weight:bold;
                    }
                }
            #blackBit{
                height:45px;
                background-color:@black;
                #studentImage{
                    cursor:pointer;
                    float:left;
                    margin:8px;
                    margin-left:10px;
                    }
                #tapMENU{
                    float:right;
                    cursor:pointer;
                    margin-right:10px;
/*                   float:right;
                    padding:15px 20px;
             //         font-family:"futura-pt-1","futura-pt-2", sans-serif;
                        font-weight:bold;
                      font-size:14px;
                        color:white;
                        a:hover{
                            text-decoration:underline;
                            }
                        a{
                            text-decoration:none;
                               font-weight:bold;
                      font-size:14px;
                        color:white;}*/
                        #homelink{
                            float:left;
                            width:30px;
                            height:30px;
                            background-image:url("../images/homeOffBigger.png");
                            background-image:no-repeat;
                            display:block;
                            margin:5px 10px 5px 5px;
                            }
                        #infolink{
                            margin:5px;
                            float:left;
                            height:30px;
                            width:30px;
                            float:right;
                            background-image:url("../images/infoButton.png");
                            background-repeat:no-repeat;
                        }
                    }
                }
            }
        #blackOverlay{
            display:none;
            }
        .upWeGo{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
        #map-overlay{
            z-index:900;
            position:absolute;
//            bottom:100px;
            right:0px;
            left:0px;
            top:1000px;
            //bottom:20px;
    //        float:left;
            margin-left:0px;
            width:100% !important;
            
            #SurroundContainer{
                width:100% !important;
            /* Let's get this party started */
            ::-webkit-scrollbar {
                width: 1px;
            }
            /* Track */
            ::-webkit-scrollbar-track {
//                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
           //     -webkit-border-radius: 10px;
            //    border-radius: 10px;
                background-color:@yellow;
            }
             
            /* Handle */
            ::-webkit-scrollbar-thumb {
            //    -webkit-border-radius: 10px;
             //   border-radius: 10px;
                background: @yellow; 
                //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
                
            }
            ::-webkit-scrollbar-thumb:window-inactive {
             //   background: rgba(255,0,0,0.4); 
            //    background:rgb(200,200,200);
            }

                #header{
                    font-size:22px;
                    font-weight:bold;
                    cursor:pointer;
                   // margin-bottom:5px;                    
                    }
                #surrounder{
                    width:97% !important; 
                    #content{
                        padding-top:10px;
                        overflow:hidden;
                        margin:0px;
                        margin-right:10px;
                        li{
                            max-width:440px;
                            width:inherit !important;
                            margin-left:0px;
                            a{
                                width:100%;
                                .bottomDiv{
                                    width:100%;
                                    img{
                                        max-width:460px !important;
                                        width:100% !important;
                                        border:10px solid @black !important;
                                        float:left;
                                        }
                                    .textWithImg{
                                        margin-top:10px;
                                        clear:left;
                                        float:left;
                                        width:90% !important;
                                        }
                                    .text{
                                        width:280px;
                                        margin-top:10px;
                                        width:90% !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            #search{
                display:none;
                }
            }
        }
    }
}