html{
    height:100%;
    
    
    body{
        #container{
            #JS-loc{}
            #JS-camp{
                display:none;
                }
            #JS-DB{}
            #DBFilt{
                height:600px;
                #JS-noResults{
                    margin-top:20px;
                        display:none;
                        }
                #searchSaveDiv{
                margin-top:20px;
                #JS-searchStuff{
                    margin-bottom:0px;
                    width: 250px;
                    }
                #JS-DBSave{
                    display:none;
                    float:right;
                    }
                }
                #listContainer{
                    height:420px;
                    overflow:auto;
                    
                    #JS-DBInfo{
                        list-style:none;                        
                            li{
                                float:left;
                                padding-top:10px;
                                //margin-bottom:10px;
                                border-bottom:1px solid gray;
                                clear:both;
                                list-style:none;
                                input[type="checkbox"] {
                                    width:20px;
                                    height:20px;
                                    float:left;
                                    }
                                textarea{float:right;  resize: none; width:350px;}
                                label{float:left;clear:left;}
                                div{float:left;}
                                .namesDiv{
                                    font-weight: bold;
                                    width: 200px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .FACEB{
                                    width: 24px;
                                    height: 24px;
                                    background-image:url("../../images/faceMini.png");
                                    }
                                .TWTTR{
                                    background-image:url("../../images/twitMini.png");
                                    width: 24px;
                                    height: 24px;
                                }
                                .INSTA{
                                    background-image:url("../../images/instaMini.png");
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    }
                }
            }
        height:600px;
        .left{
            float:left;
            }
        .right{
            float:right;
            }
        .clearBoth{
            clear:both;
            }
        .halfWide{
            width:50%;
            margin-right:0px;
            margin-top:0px;
            }
        }
body > #modalDialogue{
    display:none;
position:fixed;
z-index:9000;
left:0;
width:100%;
height:100%;
background:rgba(125,125,125,0.2);
    #modalInside{
        position:relative;
        width:400px;
        height:200px;
        margin:0 auto;
        margin-top:100px;
        #modalText{
            position:absolute;
            top:20;
            width:400px;
            max-height:150px;
            overflow-y:scroll;
            }
        #modalConfirm, #modalDeny{
            display:block;
            position:absolute;
            bottom:0;
            margin-bottom:20px;
            }
        #modalConfirm{
            right: 20px;
        }
        #modalDeny{}
        }
}
body > .well{
    height:100%;
    #location{
        display:none;
        }
    #render, #location{
        float:none;
        margin:0px auto;
        height:100%;

#Lhashtags > li{
    border-bottom:1px solid #34495e;
            width:640px;
            clear:both;
            .coordDisplay{
                float:left;
                margin-left:75px;
                label{
                    margin-top:0px;
                    float:left;
                    }
                div{
                    float:left;
                    }
            }
            .altTagDelete{
                width:460px;
                }
            .lal{
                float:left;
                }
                .checking{
                    float: left;
                    width: 20px;
                    height: 20px;
                    margin-top: 10px;
                    }
            .hashlesshash{
                margin-bottom:5px;
                }
            label{
                margin-top:10px;
                margin-right:5px;
                margin-left:5px;
                }
            .hashLabel{
                float:right;
                }
            .hashRangeLabel{
                float:left;
                }
            .hashCoord{
                float:right;
                width:120px;
                margin-right:10px;
                
                }
            .distRange{
                float:left;
                width:60px;
                }
                input[type="button"]{
                    float:right !important;
                    margin-right:2
                    0px;
                }
            }
        #hashtags, #Lhashtags{
            height:70%;
            overflow-y:scroll;
            overflow-x:hidden;
            list-style:none;
        .hashtag{
            float:left;
            margin:10px;
            .hash{
                float:left;
                line-height:41px;
                font-size:30px;
                }
            .hashlesshash{
                float:left;
                font-size:20px;
                line-height:41px;
                }
                input[type="button"]{
                    float:left;
                    margin-left:10px;
                    }
            }
        }
        #hashtagAdd, #LhashtagAdd{
            #JS-AlreadyAdded, #JS-LAlreadyAdded{
                margin-top:0px;
                display:none;
                }
            .alert{
                margin-bottom:0px;
                margin-top:20px;
                }
            #hash, #Lhash{
                float: left;
                margin-top: 15px;
                font-size: 40px;
                margin-right: 10px;
                }
            #newHash, #LnewHash{
                margin-top:20px;
                margin-bottom:0px;
                }
            #addStuff, #LaddStuff{
                float:right;
                font-size:20px;
                width:50px;
                height:50px;
                margin-top:15px;
                }
                #save, #Lsave{
                    float:right;
                    font-size:20px;
                    margin-top:15px;
                    height:50px;
                    margin-left:10px;
                    display:none;
                    }
            }
    }
    
}
}