html{
    height:100%;}
    body{
        height:600px;
        }
body > div{
    height:100%;
    #render{
        float:none;
        margin:0px auto;
        height:100%;
        #hashtags{
            height:80%;
            overflow-y:scroll;
            list-style:none;
        .hashtag{
            float:left;
            margin:10px;
            .hash{
                float:left;
                line-height:41px;
                font-size:30px;
                }
            .hashlesshash{
                float:left;
                font-size:20px;
                line-height:41px;
                }
                input[type="button"]{
                    float:left;
                    margin-left:10px;
                    }
            }
        }
        #hashtagAdd{
            #hash{
                float: left;
margin-top: 15px;
font-size: 40px;
margin-right: 10px;
                }
            #newHash{
                margin-top:20px;
                margin-bottom:0px;
                }
            #addStuff{
                float:right;
                font-size:20px;
                width:50px;
                height:50px;
                margin-top:15px;
                }
                #save{
                    float:right;
                    font-size:20px;
                    margin-top:15px;
                    height:50px;
                    margin-left:10px;
                    display:none;
                    }
            }
    }
}